
html, body {
	margin: 20px;
	padding: 20px;
}

body {
	font-family: 'Montserrat';
}


p {
	font-family: 'Montserrat';
}


.heading h1 h3 {
	font-family: 'Raleway';
}

.img-circle {
	border-radius: 50%;
}


.redtext {
	color: red;
}


.image {
	width: 200px;
	height: 200px;
	object-fit: cover;	
	padding: 10px;
}


.font {
	font-family: 'Montserrat';
} 


.container {
	display: block;
	position: center;
	padding: 40px;
}


.contact {
	display: inline-block;
	padding: 10px;
}


.container-hover {
    position: relative;
    height: 200px;
    width: 200px;
}

.border {
	position: relative;
	height: 170px;
	width: 170px;
	color: white;
	border-style: solid;
}

.center {
    position: absolute;
    left: 40%;
    right: 10%;
    top: 40%;
    width: 0;
    font-size: 18px;
    color: transparent; 
}    


.img { 
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.outer-container .overlay:hover {
	background: rgb(0, 0, 0, 0.7);			 
} 


.outer-container .overlay:hover + .center {
	color: white;			 
} 


